

.jumbotron {
  padding-top: 6rem;
  background-color: #ccf06b;
}

#about{
  padding-top: 5rem;
}


#Hobby {
  padding-top: 4rem;
  background-color: #ccf06b;
}

#contact{
  padding-top: 5rem;
}

footer{
  background-color:#abc033d8;

section{
    padding-top: 5rem;
  }

